<% include partials/header %>

<div class="container">
    <header class="row">

            <h1>You got Secret Powers!</h1>
            <hr>
            <h3>Item Management</h3>
            <a href="/items/new" class="btn btn-primary">New Item</a>
            <a href="/items/edit" class="btn btn-warning">Edit Item</a>
            <a href="/items/del" class="btn btn-danger">Delete Item</a>
            
            <h3>User Management</h3>
            <a href="/users/new" class="btn btn-primary">New User</a>
            <a href="/users/edit" class="btn btn-warning">Edit User</a>
            <a href="/users/del" class="btn btn-danger">Delete User</a>
    </header>
</div>
    <% include partials/footer %>
