<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>OERK - Outdoor Equipment Rental Kokkola</title>
			<link rel="stylesheet" href="/stylesheets/bootstrap.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="/js/bootstrap.js"></script>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="/stylesheets/landing.css">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
<div class="landing-header">
			<h1>Let us worry, Be Wild.</h1>
			<a href="/items" class="btn btn-lg btn-primary">Get Started</a>
		</div>

		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
