<% include ../partials/header %>

 <div class="container">
     <header class="row">

             <h1>Let's Pack your gear!</h1>
             <hr>
             <p>Check our outdoor equipment selection</p>

     </header>

     
</div>
<script type="text/javascript" src="/js/script.js"></script>
<% include ../partials/footer %>
